* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  gap: 20px;
  justify-content: space-between;
}

.nav-links a {
  color: white;
  text-decoration: none;
  gap: 20px;
}

.homepage {
  width: 100%;
  height: 100vh;
  background-image: url(images/logo-img.png);
  background-size: cover;
  background-position: bottom;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-links {
  gap: 20px;
  list-style: none;
}

.navbar__left {
  gap: 20px;
}

.menu-search {
  display: none;
}

/*nav2*/
.navbar__bottom {
  justify-content: space-between;
}

.nav__links {
  gap: 20px;
  list-style: none;
}

.nav__links a {
  color: white;
  text-decoration: none;
  gap: 20px;
}

.content-bookNow {
  background-color: rgba(232, 149, 47, 1);
  border: 1px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.navbar__bottom-menu {
  gap: 20px;
}
/*homepage*/
.homepage {
  width: 100vw;
  height: 100vh;
  background-image: url(images/logo-img.png);
  background-size: cover;
  background-position: center;
}

.homepage .container {
  height: 85%;
  flex-direction: column;
  justify-content: center;
}

.homepage .text {
  color: #fff;
  text-align: center;
}

.homepage .text h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;
}

.homepage .text p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.homepage::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.homepage a {
  border: 1px solid white;
  padding: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  transition: 0.3s;
}

.homepage a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}

.text a {
  color: #fff;
  text-decoration: none;
}

/* services*/

.section-new {
  justify-content: space-between;
}
.section__title {
  text-align: center;
  margin-top: 10px;
}

.section__title h1 {
  font-size: 34px;
  font-weight: 400;
}

.section__title p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

/* services item*/
.services .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.row .image {
  position: relative;
}

.services .row .image .path {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.services-item {
  padding: 10px;
}

.services .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.services .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.services .row .content p {
  font-size: 14px;
  padding: 1rem 0;
  line-height: 1.8;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 2em;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 1;
}

.info-container .number {
  font-weight: 500;
  font-size: 40px;
}

.info-item {
  text-align: center;
}

/* =====> protfolio*/
#protfolio {
  background-color: rgba(251, 248, 242, 1);
}

.section__title {
  padding-top: 20px;
}

.cards {
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap-reverse;
}

.cards .card-about {
  list-style: none;
}
.cards-top .card-about {
  margin-right: 10px;
}
/* Individual card styling */
.card-about {
  position: relative;
  border-radius: 10px;
}
.btn {
  list-style: none;
  text-decoration: none;
}

.card-about h3,
.card-about .btn,
.card-about .box-imgRight {
  position: absolute;
  color: white;
  /* Adjust text color to ensure readability over the image */
}

.card-about h3 {
  bottom: 70px;
  left: 20px;
  margin: 0;
  font-size: 24px;
}

.card-about .btn {
  bottom: 40px;
  left: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.card-about .box-imgRight {
  margin: 10px;
  bottom: 50px;
  right: 40px;
  width: 24px;
  /* Adjust the size of the icon as needed */
}

/* modifiler*/
.modifiler {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.header-barsic {
  display: flex;
  align-items: center;
}

.modifuler_Img-top {
  display: flex;
  align-items: center;
}

.modifuler_Img-center {
  flex: 1;
  flex-direction: column;
}

/*about*/
.cards__About {
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap-reverse;
}
.cards .cards-about {
  text-align: center;
  list-style: none;
}

/*abouts*/
/*about*/
.new-top a {
  color: orangered;
}
.new-top .new-top-right {
  color: orangered;
}

.cards__Abousts .card-abouts {
  margin-top: 20px;
  list-style: none;
}
.card-about {
  list-style: none;
}
.cards__Abouts {
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*contact*/
.contact {
  position: relative;
}
.container-header {
  width: 100%;
  max-width: 100%;
}
.contact_elem-text3 {
  background: var(--primary-light);
  width: 50%;
  margin-top: 20px;
  justify-content: start;
  flex-direction: row;
  position: absolute;
  margin-right: 200px;
}
.contact_elem-text3 .text {
  color: #fff;
}

.contact_elem-text3 .text h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact_elem-text3 .text p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.contact_elem-text3::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.contact_elem-text3 a {
  border: 1px solid white;
  padding: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  transition: 0.3s;
}

/*swiper*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  margin: 20px auto;
}

.card {
  width: 320px;
  background-color: #fff;
}
.card-image {
  position: relative;
}
.image-contet {
  position: absolute;
  row-gap: 5px;
  padding: 25px 0;
}
.slide-container {
  position: relative;
  padding: 40px 0;
  margin: 0 40px;
}
.card-image .card-img {
  object-fit: cover;
}

/* blogs*/
.blogs {
  width: 100%;

  background-color: #f8f8f8;
}

.blogs img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.blogs {
  width: 100%;

  background-color: #f8f8f8;
}

.blogs img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/*footer*/
#contact1 {
  background: rgba(21, 27, 64, 1);
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  padding: 20px 0;
}
.list {
  width: 25%;
}
.list h4 {
  color: white;
  font-size: 21px;
  margin-bottom: 30px;
  position: relative;
}
.list h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
  background: yellow;
}
.list ul li:not(:last-child) {
  margin-bottom: 16px;
}
.list ul li a {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
.list p {
  color: white;
  font-size: 14px;
}

.footer-end {
  background: rgba(10, 15, 43, 1);
  justify-content: space-between;
}
.footer-end-elem {
  display: flex;
  justify-content: space-between;
}
.end-bottom {
  display: flex;
}
.end-bottom .end-bottom-img img {
  width: 100%;
}
.footer-end h1 {
  color: white;
  display: flex;
}
.footer-end ul li {
  color: white;
}

.end-h1 h1 {
  font-size: 16px;
  font-weight: 400;
}
.end-h1 {
  align-items: center;
}
.footer-end-elem {
  align-items: center;
}
.end-bottom li {
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .navbar__bottom .nav__links-logoImg {
    display: block;
  }
  .navbar__bottom .navbar__bottom-center .nav__links .nav__links-logoImg {
    display: block;
  }

  .navbar__bottom .navbar__bottom-menu .menu-search {
    display: block;
  }

  .navbar,
  .nav__links li a {
    display: none;
  }

  .navbar__bottom {
    padding: 20px;
  }

  .homepage .text h1 {
    font-size: 24px;
    font-weight: 400px;
  }

  .homepage .text p {
    font-size: 12px;
    font-weight: 400;
    flex-direction: row;
  }

  .homepage a {
    display: none;
  }

  /*nav*/
  .header__header-left .header_left-shear {
    display: block;
  }

  .header__header-center a {
    display: none;
  }

  .nav__links .nav__links-logoImg {
    display: block;
  }
  .bandoImg {
    width: 100%;
  }

  /*service*/
  .services {
    padding: 10px;
  }
  .image .image__logo-list1 {
    width: 100%;
  }
  .image .path .image__logo-path {
    width: 100%;
  }
  .row {
    flex-direction: column-reverse;
  }

  .row-item {
    padding: 10px;
  }
  .info-grid .number {
    font-size: 30px;
    font-weight: 400;
  }
  .info-grid .label {
    font-size: 14px;
    font-weight: 400;
  }
  .content h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 500px;
  }

  .content p {
    display: none;
  }

  .content .content-item {
    display: none;
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
  }

  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .list {
    width: 100%;
    max-width: 400px;
  }

  .footer-end-elem .end-bottom a {
    display: none;
  }

  .navigation .navigation-top-shear {
    margin-left: 10px;
  }

  .footer-end .footer-end-elem .end-h1 {
    margin-left: 25px;
    text-align: center;
  }
  /*protfolio*/

  .cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-x: auto;
    margin-top: 10px;
  }
  .cards ::-webkit-scrollbar {
    width: 0;
  }
  /* ==>  */

  .cards__Abouts {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-x: auto;
  }
  .cards-about {
    align-items: center;
  }
  .cards__Abouts ::-webkit-scrollbar {
    width: 0;
  }
  /* .protfolio__mobile .cards {
   display: flex;
   flex-direction: row;
  } */
  /**/
  /* .cards__Abouts .card-about .about-user{
    width: 100%;
  } */
  .footer-main {
    padding: 20px;
  }
  .header-barsic {
    flex-direction: column;
  }
  .contact_elem-text3 .elem-text3-img {
    width: 100%;
  }
  .container-header {
  }
}
